<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section active">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Home </a>

                            </li>
                            <li><a><i class="fa fa-th-list"></i> Products </a>

                            </li>
                            <li><a><i class="fa fa-users"></i> Users </a>

                            </li>

                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Live On</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>

                            </li>
                            <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>

                            </li>
                            <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>

                            </li>

                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->


            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                    <ul class=" navbar-right">
                        <li class="nav-item dropdown open" style="padding-left: 15px;">
                            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt="">John Doe
                            </a>
                            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:;"> Profile</a>
                                <a class="dropdown-item" href="javascript:;">
                                    <span class="badge bg-red pull-right">50%</span>
                                    <span>Settings</span>
                                </a>
                                <a class="dropdown-item" href="javascript:;">Help</a>
                                <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                            </div>
                        </li>

                        <li role="presentation" class="nav-item dropdown open">
                            <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                <li class="nav-item">
                                    <a class="dropdown-item">
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item">
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item">
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item">
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
                                        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <div class="text-center">
                                        <a class="dropdown-item">
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 454px;">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Users <small>Some examples to get you started</small></h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Default Example <small>Users</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <p class="text-muted font-13 m-b-30">
                                                DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                                            </p>
                                            <div>
                                                <div class="tt-collapse open">
                                                    <h3 class="tt-collapse-title">Loại sản phẩm</h3>
                                                    <div class="tt-collapse-content">
                                                        <ul class="tt-list-row" id="product-size">
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tt-collapse open">
                                                    <h3 class="tt-collapse-title">Lọc theo giá</h3>
                                                    <div class="tt-collapse-content">
                                                        <ul class="tt-list-row" id="product-price">
                                                            <li><input type="radio" name="price" value="50">$0 — $50</li>
                                                            <li><input type="radio" name="price" value="100">$50 — $100</li>
                                                            <li><input type="radio" name="price" value="150">$100 — $150</li>
                                                            <li><input type="radio" name="price" value="200">$150 —  $200</li>
                                                            <li><input type="radio" name="price" value="1000000">>$200</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tt-collapse open">
                                                    <h3 class="tt-collapse-title">Lọc theo kích thước</h3>
                                                    <div class="tt-collapse-content">
                                                        <ul class="tt-list-row" id="product-size">
                                                            <li><input type="radio" name="size" value="S"> S</li>
                                                            <li><input type="radio" name="size" value="M"> M</li>
                                                            <li><input type="radio" name="size" value="L"> L</li>
                                                            <li><input type="radio" name="size" value="XL"> XL</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="tt-collapse open">
                                                    <h3 class="tt-collapse-title">Thương Hiệu</h3>
                                                    <div class="tt-collapse-content">
                                                        <ul class="tt-list-row" id="product-size">
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus">
                                                </i> Thêm
                                           </button>
                                           <button type="button" class="btn btn-success btn-sm"> <i class="fa fa-trash">
                                           </i></button>
                                            </div>
                                            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="dataTables_length" id="datatable_length">
                                                            <label>
                                                                Show
                                                                <select name="datatable_length" aria-controls="datatable" class="form-control input-sm">
                                                                    <option value="10">10</option>
                                                                    <option value="25">25</option>
                                                                    <option value="50">50</option>
                                                                    <option value="100">100</option>
                                                                </select> entries
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div id="datatable_filter" class="dataTables_filter">
                                                            <label>
                                                                Search:
                                                                <input type="search" class="form-control input-sm" placeholder="" aria-controls="datatable">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
                                                            <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 128px;">
                                                                    Name
                                                                </th>
                                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 210px;">
                                                                    Position
                                                                </th>
                                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 93px;">
                                                                    Office
                                                                </th>
                                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 42px;">
                                                                    Age
                                                                </th>
                                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 85px;">
                                                                    Start date
                                                                </th>
                                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 71px;">
                                                                    Salary
                                                                </th>
                                                            </tr>
                                                            </thead>


                                                            <tbody>
                                                            <% allProducts.forEach(function(product){%>
                                                            <tr>
                                                                <td><%= product.name %></td>
                                                                <td><%= product.stock %></td>
                                                                <td><%= product.price %></td>
                                                                <td><%= product.dateAdded%></td>
                                                                <td><%= product.sale %></td>
                                                                <td><%= product.buyCounts %></td>
                                                            </tr>
                                                            <% }); %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <nav aria-label="Page navigation example">
                                                            <ul class="pagination justify-content-end">
                                                                <li class="page-item"><a class="page-link" href="/products/?page=1">First Page</a></li>
                                                                <% if(hasPrevPage){ %>
                                                                <li class="page-item"><a class="page-link" href="/products/?page=<%= prevPage %>">Previous</a></li>
                                                                <li class="page-item"><a class="page-link" href="/products/?page=<%= currentPage - 1 %>"><%= currentPage - 1 %></a></li>
                                                                <% } %>
                                                                <li class="page-item"><a class="page-link" href="/products/?page=<%= currentPage %>"><%= currentPage %></a></li>
                                                                <% if(hasNextPage){ %>
                                                                <li class="page-item"><a class="page-link" href="/products/?page=<%= currentPage + 1 %>"><%= currentPage + 1 %></a></li>
                                                                <li class="page-item"><a class="page-link" href="/products/?page=<%= nextPage %>">Next</a></li>
                                                                <% } %>
                                                                <li class="page-item"><a class="page-link" href="/products/?page=<%= totalPages %>">Last Page</a></li>
                                                            </ul>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
</div>
</body>