<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <body class="nav-md">
      <div class="container body">
        <div class="main_container">
          <%- include('partials/navigation.ejs') %>
          <!-- page content -->
          <div class="right_col" role="main">
            <div class="">
              
              
              <div class="clearfix"></div>
  
              <div class="row">
                <div class="col-md-12 col-sm-12 ">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Thông tin quản trị viên</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="col-md-3 col-sm-3  profile_left">
                        <div class="profile_img">
                          <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar">
                          </div>
                        </div>
                        
  
                    </div>
                    <div style="font-size: 20px;" class="col-md-5">
                      <form class="form-group" action="/products/task/update" method="POST" name="form" onchange="verifyAdmin(this.form)">
                        <div class="container">
                          <input type="text" class="form-control" name="id" value="<%= id %>" hidden>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Tên</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="firstName" id="firstName" value="<%= firstName %>" oninput="check(this.id)">
                              <h4 style="color:red; font-style:italic" id="notificationFirName"></h4>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Họ</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="lastName" id="lastName" value="<%= lastName %>" oninput="check(this.id)">
                              <h4 style="color:red; font-style:italic" id="notificationLastName"></h4>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Số điện thoại</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" value="<%= phoneNumber %>" oninput="check(this.id)">
                              <h4 style="color:red; font-style:italic" id="notificationPhone"></h4>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="email" id="email" value="<%= email %>" oninput="check(this.id)">
                              <h4 style="color:red; font-style:italic" id="notificationEmail"></h4>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Ảnh đại diện</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="avatar" id="avatar" value="<%= avatar %>" oninput="check(this.id)">
                              <h4 style="color:red; font-style:italic" id="notificationAva"></h4>
                            </div>
                          </div>
                        </div>
                        <button  type="submit" id="btn-update" class="btn btn-primary"  hidden>Cập nhật</button>
                      </form>
                      <a href="/change-password"><button type="button"  class="btn btn-success">Đổi mật khẩu</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /page content -->
  
         
        </div>
        </div>
      </div>
    </body>
    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
    </body>
    <%- include('partials/script.ejs') %>
</html>