<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <body class="nav-md">
      <div class="container body">
        <div class="main_container">
          <%- include('partials/navigation.ejs') %>
          <!-- page content -->
          <div class="right_col" role="main">
            <div class="">
              <div class="page-title">
                <div class="title_left">
                  <h3>Admin Profile</h3>
                </div>
              </div>
              
              <div class="clearfix"></div>
  
              <div class="row">
                <div class="col-md-12 col-sm-12 ">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2>Information</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <div class="col-md-3 col-sm-3  profile_left">
                        <div class="profile_img">
                          <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar">
                          </div>
                        </div>
                        
  
                    </div>
                    <div style="font-size: 20px;" class="col-md-5">
                      <form action="/task/update" method="POST">
                        <div class="container">
                          <input type="text" class="form-control" name="id" value="<%= id %>" hidden>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">First Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="firstName" value="<%= firstName %>">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Last Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="lastName" value="<%= lastName %>">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Phone</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="phoneNumber" value="<%= phoneNumber %>">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="email" value="<%= email %>">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Avatar</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                              <input type="text" class="form-control" name="avatar" value="<%= avatar %>">
                            </div>
                          </div>
                        </div>
                        <button  type="submit" class="btn btn-primary">Update</button>
                        <a href="/products/list"><button type="button"  class="btn btn-success">Turn Back</button></a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /page content -->
  
         
        </div>
        </div>
      </div>
    </body>
    <footer>
      <%- include('partials/footer.ejs') %>
    </footer>
    </body>
    <%- include('partials/script.ejs') %>
</html>