<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include partials/navigation.ejs %>
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Edit Page</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-5">
                      <div class="col-md-7 col-sm-7 ">
                      <div class="product-images">
                        <% var index = 0; { %>
                          <a>
                            <img src="../images/product/<%= imagesURL[index] %>" alt="..." / width="400" height="500">
                          </a>
                        <% } %>
                      </div>
                    </div>
                      <div class="col-md-9 offset-md-3" style="margin-left: 18%;">
                      <div class="product-gallery">
                        <% var index; for (index = 1; index < imagesURL.length; index++){ %>
                          <a>
                            <img src="../images/product/<%= imagesURL[index] %>" alt="..." / width="80" height="90">
                          </a>
                        <% } %>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="container">
                        <h3 align="center">Update Product</h3>
                        <hr>
                            <form action="/detail/update" method="POST">
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">ID</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="id" value="<%= id %>" readonly>                 
                                </div>
                              </div><div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Name</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="name" value="<%= name %>">
                                </div>
                              </div><div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Description</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="description" value="<%= description %>">
                                </div>
                              </div>
                              <div class="form-group row">
                              <label class="control-label col-md-3 col-sm-3 col-xs-3" for="">SubCategory</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                <select name="subCategory" class="form-control">
                                  <% categories.forEach(function(main){ %>
                                      <% main.childName.forEach(function(sub){ %>
                                        <% if (sub._id == subCategory){ %>
                                          <option value="<%= sub._id %>" selected><%= sub.name %></option>
                                        <% }else{ %>
                                          <option value="<%= sub._id %>"><%= sub.name %></option>
                                        <% } %>
                                      <% }); %>
                                  <% }); %>
                                </select>
                                </div>                       
                              </div>
                              <div class="form-group row">
                              <label class="control-label col-md-3 col-sm-3 col-xs-3" for="">Label</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                <select name="label" class="form-control">
                                  <% labels.forEach(function(element){ %>
                                    <% if (element._id == label){ %>
                                        <option value="<%= element._id %>" selected><%= element.name %></option>
                                    <% }else{ %>
                                        <option value="<%= element._id %>"><%= element.name %></option>
                                    <% } %>
                                  <% }); %>
                                </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Size</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="size" value="<%= sizes %>">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Color</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="color" value="<%= colors %>">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Material</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="material" value="<%= materials %>"> 
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Image</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="image" value="<%= images %>">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Price</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="price" value="<%= price %>">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Stock</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="stock" value="<%= stock %>">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Buy Count</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="buyCount" value="<%= buyCount %>">
                                </div>
                              </div>
                              <div class="ln_solid"></div>
                              <div class="form-group row">
                                <div class="col-md-9 offset-md-3">
                              <button  type="submit" class="btn btn-primary">Update</button>
                              <form action="/products" method="GET">
                                <button type="submit"  class="btn btn-success">Turn Back</button>
                              </form>
                            </form>
                      </div>
                    </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- footer content -->
          <footer>
              <%- include('partials/footer.ejs') %>
          </footer>
          <!-- /footer content -->
        </div>
      </div>
      </div>
    </div>
  </body>
</html>