<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
    <body>
        <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <%- include('partials/navigation.ejs') %>
                <div class="right_col" role="main" style="min-height: 454px;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Danh sách đơn hàng</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <form method="GET">
                                                <div class="form-group row">
                                                    <label class="col-md-2 col-sm-2" for="">Trạng thái đơn hàng</label>
                                                    <div class="col-md-2 col-sm-2">
                                                        <select name="status" class="form-control">
                                                            <% if (statusValue) { %>
                                                                <option value ="-1">Tất cả</option>
                                                            <% } else { %>
                                                                <option value ="-1" selected>Tất cả</option>
                                                            <% } %>
                                                            <% var index; for (index = 0; index < statusList.length; index++){ %>
                                                                <% if (statusValue == index) { %>
                                                                    <option value="<%= index %>" selected><%= statusList[index] %></option>
                                                                <% } else { %>
                                                                    <option value="<%= index %>"><%= statusList[index] %></option>
                                                                <% } %>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                    <label class="col-md-1 col-sm-1" for="">Hiển thị</label>
                                                        <div class="col-md-2 col-sm-2">
                                                            <select name="length" aria-controls="datatable" class="form-control">
                                                                <% var index; for (index = 0; index < lengths.length; index++){ %>
                                                                    <% if (lengthValue == index) { %>
                                                                        <option value="<%= index %>" selected><%= lengths[index] %></option>
                                                                    <% } else { %>
                                                                        <option value="<%= index %>"><%= lengths[index] %></option>
                                                                    <% } %>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    <div class="col-md-1 col-sm-1">
                                                        <button type="submit" class="btn btn-primary btn-sm">Lọc</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="clearfix"></div>
                                            <div class="card-box table-responsive">
                                                <tbody>
                                                    
                                                    <% var index=0; %>
                                                    <% allOrders.forEach(function(order){%>
                                                        <div class="x_panel">
                                                            <div class="x_content">
                                                                <div class="row">
                                                        <div class="col-md-12 col-sm-12  ">
                                                            <div class="table">
                                                                <div class="row">
                                                                    <div class="col-md-6 col-sm-6">
                                                                        <h2>Tên khách hàng &emsp;&emsp;<small><%= nameList[index] %></small></h2><br>
                                                                        <% index++; %>
                                                                        <h2>SĐT &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<small><%= order.phoneNumber %></small></h2><br>
                                                                        <h2>Địa chỉ &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<small><%= order.address %></small></h2><br>
                                                                    </div>
                                                                    <div class="col-sm-6 col-sm-6">
                                                                        <h2>Ngày mua     &emsp;&emsp;&nbsp;<small><%= order.date %></small></h2><br>
                                                                        <h2>Tổng tiền    &emsp;&emsp;&nbsp;&nbsp;&nbsp;<small><%= order.cart.totalPrice %></small></h2><br>
                                                                        
                                                                        <div class="row">
                                                                            <h2>&nbsp;&nbsp;Trạng thái   &emsp;&nbsp;&nbsp; <small></small></h2><br>
                                                                            
                                                                            <label class="radio-inline">
                                                                            <form action="/products/task/update-status" method="POST">
                                                                                <input name="id_order" value="<%= order._id %>" hidden>
                                                                                <div class="col-sm-10">
                                                                                <% for(var i=0;i<statusList.length;i++){ %>
                                                                                    <div class="col-sm-4" style="padding-left:0px">
                                                                                        <label class="radio-inline">
                                                                                            <% if (order.deliverStatus == i){ %>
                                                                                                <input type="radio" name="status_value" value="<%= i %>" checked><%= statusList[i] %>
                                                                                            <% }else{ %>
                                                                                                <input type="radio" name="status_value" value="<%= i %>"><%= statusList[i] %>
                                                                                            <% } %>
                                                                                        </label>
                                                                                    </div>
                                                                                <% } %>
                                                                                </div>
                                                                                <div class=" col-sm-5">
                                                                                    <button type="submit" class="btn btn-primary btn-sm">Cập nhật</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped jambo_table bulk_action">
                                                                      <thead>
                                                                        <tr>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"  style="width: 120px;">
                                                                                Tên sản phẩm
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1"  style="width: 120px;">
                                                                                Giá tiền
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 120px;">
                                                                                Số lượng
                                                                            </th>
                                                                        </tr>
                                                                      </thead>
                                                                      <tbody>
                                                                        <% var cart = order.cart.items %>
                                                                        <% for (var id in cart) { %>
                                                                            <tr>
                                                                                <td><%= cart[id].item.name %></td>
                                                                                <td><%= cart[id].item.price %></td>
                                                                                <td><%= cart[id].qty %></td>
                                                                            </tr>
                                                                        <% } %>
                                                                      </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                    <% }); %>
                                                            
                                                </tbody>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Tổng số kết quả: <%= totalOrders %></div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-end">
                                                            <li class="page-item"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=1">Trang Đầu</a></li>
                                                            <% if(hasPrevPage){ %>
                                                            <li class="page-item"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=<%= prevPage %>">Trang Trước</a></li>
                                                            <li class="page-item"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=<%= currentPage - 1 %>"><%= currentPage - 1 %></a></li>
                                                            <% } %>
                                                            <li class="page-item active"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=<%= currentPage %>"><%= currentPage %></a></li>
                                                            <% if(hasNextPage){ %>
                                                            <li class="page-item"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=<%= currentPage + 1 %>"><%= currentPage + 1 %></a></li>
                                                            <li class="page-item"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=<%= nextPage %>">Trang Sau</a></li>
                                                            <% } %>
                                                            <li class="page-item"><a class="page-link" href="?length=<%= lengthValue %>&status=<%= statusValue %>&page=<%= totalPages %>">Trang Cuối</a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
    
    </body>
    <%- include('partials/script.ejs') %>
</html>