<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% include partials/navigation.ejs %>
        <div class="right_col" role="main">
          <div class="">
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  
                  <div class="x_content">
                    <div class="col-md-5">
                      <div class="col-md-7 col-sm-7 ">
                      <div class="product-images">
                        <% var index = 0; { %>
                          <a>
                            <% if (imagesURL[index].search('http') != -1) {%>
                              <img src="<%= imagesURL[index] %>" alt="..." / width="400" height="500">
                            <%} else {%>
                                <img src="../../images/product/<%= imagesURL[index] %>" alt="..." / width="400" height="500">
                            <%}%>
                          </a>
                        <% } %>
                      </div>
                    </div>
                      <div class="col-md-9 offset-md-3" style="margin-left: 13%;">
                      <div class="product-gallery">
                        <% var index; for (index = 1; index < imagesURL.length; index++){ %>
                          <a>
                            <% if (imagesURL[index].search('http') != -1) {%>
                              <img src="<%= imagesURL[index] %>" alt="..." / width="80" height="90">
                            <%} else {%>
                              <img src="../../images/product/<%= imagesURL[index] %>" alt="..." / width="80" height="90">
                            <%}%>
                          </a>
                        <% } %>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="container">
                        <h3 align="center">Cập nhật sản phẩm</h3>
                        
                        <hr>
                            <form class="form-group" action="/products/task/update" method="POST" name="form" onchange="verify(this.form)">
                              <input type="text" class="form-control" name="id" value="<%= id %>" hidden>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Tên sản phẩm</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="name" id="name" value="<%= name %>"onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationName"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Miêu tả</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="description" id="description" value="<%= description %>"onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationDescription"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                              <label class="control-label col-md-3 col-sm-3 col-xs-3" for="">Danh mục con</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                <select name="subCategory" class="form-control">
                                  <% categories.forEach(function(main){ %>
                                      <% main.childName.forEach(function(sub){ %>
                                        <% if (sub._id == subCategory){ %>
                                          <option value="<%= sub._id %>" selected><%= sub.name %></option>
                                        <% }else{ %>
                                          <option value="<%= sub._id %>"><%= sub.name %></option>
                                        <% } %>
                                      <% }); %>
                                  <% }); %>
                                </select>
                                </div>                       
                              </div>
                              <div class="form-group row">
                              <label class="control-label col-md-3 col-sm-3 col-xs-3" for="">Nhãn hiệu</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                <select name="label" class="form-control">
                                  <% labels.forEach(function(element){ %>
                                    <% if (element._id == label){ %>
                                        <option value="<%= element._id %>" selected><%= element.name %></option>
                                    <% }else{ %>
                                        <option value="<%= element._id %>"><%= element.name %></option>
                                    <% } %>
                                  <% }); %>
                                </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Kích cỡ</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="size" id="size" value="<%= sizes %>"onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationSize"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Màu sắc</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="color" id="color" value="<%= colors %>"onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationColor"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Chất liệu</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="material" id="material" value="<%= materials %>"onfocusout="check(this.id)"> 
                                  <h4 style="color:red; font-style:italic" id="notificationMaterial"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Hình ảnh</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="image" id="image" value="<%= images %>" onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationImage"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Giá bán</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="price" id="price" value="<%= price %>" onfocusout="check(this.id)" >
                                  <h4 style="color:red; font-style:italic" id="notificationPrice"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Giá nhập</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="cost" id="cost" value="<%= cost %>" onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationCost"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Số lượng nhập(tồn kho)</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="stock" id="stock" value="<%= stock %>" onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationStock"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Lượt mua</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="buyCount" id="buyCount" value="<%= buyCount %>" onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationBuyCount"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Giảm giá</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="sale" id="sale" value="<%= sale %>" onfocusout="check(this.id)">
                                  <h4 style="color:red; font-style:italic" id="notificationSale"></h4>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3">Lượt xem</label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                  <input type="text" class="form-control" name="viewCount" id="viewCount" value="<%= viewCount %>" readonly>
                                </div>
                              </div>
                              <div class="ln_solid"></div>
                               
                              <button  type="submit" id="btn-update" class="btn btn-primary"  hidden>Cập nhật</button>
                              <a href="/products/list"><button type="button"  class="btn btn-success">Quay lại</button></a>
                              
                            </form>
                            
                        
                            <!-- <form action="/products" method="GET">
                              <button type="submit"  class="btn btn-success">Turn Back</button>
                            </form> -->
                      </div>
                    </div>
                        </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- footer content -->
          <footer>
              <%- include('partials/footer.ejs') %>
          </footer>
          <!-- /footer content -->
        </div>
      </div>
      </div>
    </div>
    <%- include('partials/script.ejs') %>
  </body>
  
</html>