<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">

                <%- include('partials/navigation.ejs') %>
        
                <!-- page content -->
                <div class="right_col" role="main" style="min-height: 454px;">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Users <small>Some examples to get you started</small></h3>
                            </div>
                           
                        </div>
        
                        <div class="clearfix"></div>
        
                        <div class="row">
                            <div class="col-md-12 col-sm-12 ">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2> List Users <small>Users</small></h2>
        
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card-box table-responsive">
                                                    <p class="text-muted font-13 m-b-30">
                                                        DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                                                    </p>
                                                    <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                                                        <div class="row">
                                                            <form method="GET">
                                                                <div class="form-group row">
                                                                    <label class="control-label col-md-3 col-sm-3 col-xs-3" for="">Show</label>
                                                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                                                        <select name="length" aria-controls="datatable" class="form-control">
                                                                            <% var index; for (index = 0; index < lengths.length; index++){ %>
                                                                                <% if (lengthValue == index) { %>
                                                                                    <option value="<%= index %>" selected><%= lengths[index] %></option>
                                                                                <% } else { %>
                                                                                    <option value="<%= index %>"><%= lengths[index] %></option>
                                                                                <% } %>
                                                                            <% } %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" name="search" value="<%= searchValue %>" placeholder="Search for...">
                                                                    <a href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= currentPage %>">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-secondary" type="submit">Search</button>
                                                                    </span>
                                                                    </a>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary btn-sm">Lọc</button>
                                                            </form>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" style="width:100%" role="grid" aria-describedby="datatable_info">
                                                                    <thead>
                                                                        <tr role="row">
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 128px;">
                                                                                Username
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 210px;">
                                                                                First Name
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 93px;">
                                                                                Last Name
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 42px;">
                                                                                Phone Number
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 85px;">
                                                                                Email
                                                                            </th>
                                                                            <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 71px;">
                                                                                Task
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% allUsers.forEach(function(user){%>
                                                                        <tr>
                                                                            <td><%= user.username %></td>
                                                                            <td><%= user.firstName %></td>
                                                                            <td><%= user.lastName %></td>
                                                                            <td><%= user.phoneNumber %></td>
                                                                            <td><%= user.email %></td>
                                                                            <td>
                                                                                <a href="detail/<%= user._id %>"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>Edit</button></a>
                                                                            </td>
                                                                        </tr>
                                                                        <% }); %>
                                                                        </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Total result: <%= totalUsers %></div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <nav aria-label="Page navigation example">
                                                                    <ul class="pagination justify-content-end">
                                                                        <li class="page-item"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=1">First Page</a></li>
                                                                        <% if(hasPrevPage){ %>
                                                                        <li class="page-item"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= prevPage %>">Previous</a></li>
                                                                        <li class="page-item"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= currentPage - 1 %>"><%= currentPage - 1 %></a></li>
                                                                        <% } %>
                                                                        <li class="page-item active"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= currentPage %>"><%= currentPage %></a></li>
                                                                        <% if(hasNextPage){ %>
                                                                        <li class="page-item"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= currentPage + 1 %>"><%= currentPage + 1 %></a></li>
                                                                        <li class="page-item"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= nextPage %>">Next</a></li>
                                                                        <% } %>
                                                                        <li class="page-item"><a class="page-link" href="?search=<%= searchValue %>&length=<%= lengthValue %>&page=<%= totalPages %>">Last Page</a></li>
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
                <!-- /page content -->
        
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
        </body>
  </body>
  <%- include('partials/script.ejs') %>
</html>