<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
    <style>
      .image-preview{
        width: 300px;
        min-height: 100px;
        border: 2px #3d3d3d;
        margin-top: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #cccccc;
      }
      .image-preview__image{
        display: none;
        width: 100%;
        
      }
      .image-preview__default-text{
        z-index: -1;
      }
    </style>
  </head>
  <body>
    <% include partials/loader %>
    <header>
      <% include partials/header %>
    </header>
    <div class="tt-breadcrumb">
      <div class="container">
        <ul>
          <li><a href="/">Trang chủ</a></li>
          <li>Đăng ký tài khoản</li>
        </ul>
      </div>
    </div>
    <div id="tt-pageContent">
      <div class="container-indent">
        <div class="container">
          <h1 class="tt-title-subpages noborder">THÊM SẢN PHẨM</h1>
          <div class="tt-login-form">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                <div class="tt-item">
                  <h2 class="tt-title">Thông tin sản phẩm</h2>
                  <%if (message != "undefined") { %>
                  <div
                    class="form-group form-control error"
                    style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)"
                  >
                    <%= message %>
                  </div>
                  <% } %>
                  <div class="form-default">
                    <form
                      id="createaproduct"
                      method="post"
                      novalidate="novalidate"
                      action="/store-prod"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <label for="ProductName">Tên sản phẩm *</label>
                        <input
                          type="text"
                          name="ProductName"
                          class="form-control"
                          id="ProductName"
                          placeholder="Nhập tên sản phẩm"
                        />
                      </div>
                      <div class="form-group">
                        <label for="ProductPrice">Giá sản phẩm *</label>
                        <input
                        type="text"
                        name="ProductPrice"
                        class="form-control"
                        id="ProductPrice"
                        placeholder="Nhập giá sản phẩm"
                        />
                      </div>
                      <div class="form-group">
                        <label for="ProductImage">Hình ảnh</label>
                        <input type="file" class="form-control-file" name="ProductImage" id="nameImage" multiple/>
                        <div class="image-preview" id="imagePreview">
                          <img src="" alt="Image Preview" class="image-preview__image"/>
                          <span class="image-preview__default-text">Image Preview</span>
                           
                        </div>  
                      </div>

                      <div class="form-group">
                        <label for="ProductSize">Size *</label>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name="S" id="S" value="S">
                          <label class="form-check-label" for="S">S</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name="M" id="M" value="M">
                          <label class="form-check-label" for="M">M</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="checkbox" name="L" id="L" value="L">
                          <label class="form-check-label" for="L">L</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-inputXL" type="checkbox" name="XL" id="XL" value="XL">
                          <label class="form-check-label" for="XL">XL</label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="ProductColor">Màu sắc</label>
                        <textarea name="ProductColor" class="form-control" id="ProductColor" placeholder="Mỗi màu một đầu dòng" rows="3"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="ProductDescription">Mô tả sản phẩm</label>
                        <textarea 
                        name="ProductDescription"
                        class="form-control"
                        id="ProductDescription"
                        placeholder="Mô tả" rows="3"></textarea>
                      </div>
                      
                      <div class="form-group">
                        <label for="ProductSale">Giảm giá (%)</label>
                        <input type="text" class="form-control" name="ProductSale" id="ProductSale" placeholder="Để trống nếu không giảm giá sản phẩm"/>
                      </div>

                      <div class="form-group">
                        <label for="ProductLabel">Thương hiệu *</label>
                        <select class="form-control" name="ProductLabel" id="ProductLabel">
                          <option value="" selected disabled hidden>Choose here</option>
                          <% listlabel.forEach(function(label) { %>
                            <option><%= label %></option>
                          <% });%>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="ProductMaterial">Chất liệu</label>
                        <textarea name="ProductMaterial" class="form-control" id="ProductMaterial" placeholder="Mỗi chất liệu một đầu dòng" rows="3"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="ProductStock">Số lượng *</label>
                        <input type="number" name="ProductStock" class="form-control" id="ProductStock"/>
                      </div>

                      <div class="form-group">
                        <label for="ProductType">Type *</label>
                        <select class="form-control" name="ProductType" id="ProductType" onchange="selectType()">
                          <option value="" selected disabled hidden>Choose here</option>
                          <% cat.forEach(function(category) { %>
                            <option><%= category.name %></option>
                          <% });%>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="ProductSubType">Sub Type *</label>
                        <select class="form-control" name="ProductSubTypePhuKien" id="ProductSubTypePhuKien" style="display: none;">
                          <option value="" selected disabled hidden>Choose here</option>
                          <% cat.forEach(function(category) { %>
                            <%if (category.name == "Phụ Kiện") { %>
                              <% category.childName.forEach(function(subcategory) { %>
                                <option><%= subcategory %></option>
                              <% });%>
                            <% }})%>
                        </select>
                        <select class="form-control" name="ProductSubTypeAo" id="ProductSubTypeAo" style="display: none;">
                          <option value="" selected disabled hidden>Choose here</option>
                          <% cat.forEach(function(category) { %>
                            <%if (category.name == "Áo") { %>
                              <% category.childName.forEach(function(subcategory) { %>
                                <option><%= subcategory %></option>
                              <% });%>
                            <% }})%>
                        </select>
                        <select class="form-control" name="ProductSubTypeQuan" id="ProductSubTypeQuan" style="display: none;">
                          <option value="" selected disabled hidden>Choose here</option>
                          <% cat.forEach(function(category) { %>
                            <%if (category.name == "Quần") { %>
                              <% category.childName.forEach(function(subcategory) { %>
                                <option><%= subcategory %></option>
                              <% });%>
                            <% }})%>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      <div class="row">
                        <div class="col-auto">
                          <div class="form-group">
                            <button class="btn btn-border" type="submit">
                              Summit
                            </button>
                          </div>
                        </div>
                        <div class="col-auto align-self-center">
                          <div class="form-group">
                            <ul class="additional-links">
                              <li>or <a href="/">Quay về cửa hàng</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>
    <!-- Partials -->
    <% include partials/modal-addtocartproduct %> <% include
    partials/modal-quickviewmodal %> <% include partials/modal-videoproduct %>
    <% include partials/modal-subscribegood %> <% include
    partials/modal-newsletter %> <% include partials/script %>
  </body>
  <script>
    const inputFile = document.getElementById("nameImage");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = document.querySelector(".image-preview__image");
    const previewDefaultText = document.querySelector(".image-preview__default-text");

    inputFile.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        alert("a");
        previewImage.style.display = "block";
        previewDefaultText.style.display = "none";
        reader.addEventListener("load", function(){
          console.log(this);
          previewImage.setAttribute("src", this.result);
        });

        reader.readAsDataURL(file);
      }
    });
  </script>
</html>
